<h1 class="text-center">Editing Profile</h1>
<hr>

<div class="row d-flex justify-content-center">
  <div class="col-lg-6 text-center">
    <div class="card p-3">
       <%= render 'form', profile: @profile %>
    </div>
  </div>
</div>