<div class="card-header btn-default">

<a href="<%= posts_path %>">
  <%= image_tag "back.png"%>
</a>
  <h2 class="text-white text-center">Who Are We?</h2>
</div>
<div class="card p-3 d-flex justify-content-center">
  <%= image_tag "about.jpg", size: "720x500", class:"card-img-top", alt: "Edit Entry" %>
  <br>  

  <h3 class="text-center">Let's Disqus!!</h3>
  <p>
  
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia sapiente eius maxime omnis, repellendus nam assumenda nesciunt blanditiis,
   nostrum reiciendis beatae tempora totam laboriosam iste quo? Fuga eligendi ad dolorem.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo id necessitatibus, 
    quaerat ad blanditiis modi! Hic est, quod error corrupti voluptate aspernatur blanditiis fugiat porro, possimus illo corporis omnis praesentium?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ea doloremque voluptate, dolor non sapiente harum ut fugiat quos rerum deserunt maiores 
    omnis sunt vel tempora totam repudiandae dolorum. Earum?
  </p>
</div>