<div class="container">

    <div style="margin-top: 9%; text-align: center;" >

     <h1>DISQUS</h1>
       <h3>Welcome to Disqus!</h3>
         <p>
          This is a place where you can share your thoughts <br> and experience as well as hear form others.
         </p>

         <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success" %>

          <%= link_to "Sign In", new_user_session_path, class: "btn btn-cyan" %>

         <br> <br> <br>
         <br> <br> <br>
         
    </div>
</div>