<div class="container">

    <div class="card w-75 h-75 mx-auto" style="margin-top: 5%;">
        <div class="tab-content card-body">


            <%= image_tag "salary.PNG", size: "50x20" %>

        </div>
    </div>
</div>